.navbar {
  background-color: #161616 !important;
  color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
ul {
  list-style: none;
}
.container_nav {
  color: white;
}
.logo_image {
  max-height: 2.5rem;
}
.content_brand_text {
  font-size: 16px;
}
.content_brand_text_P {
  color: #ab5f0b;
}
p,
button,
a {
  color: #919191;
  cursor: pointer;
}
.navbar-nav {
  border: 0.125rem solid #1d1d1d;
}
.active {
  background-color: #f64d00;
  border-radius: 1.25rem;
  color: white;
}
.read_btn {
  background-color: #f64d00;
  border-radius: 1.25rem;
  color: white;
  transition: 0.3s;
}
.read_btn:hover {
  transform: translateY(-0.3125rem);
}

.main {
  background-color: #0a0a0a;
}
.hero_section {
  background-color: #0a0a0a;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
h1 {
  font-size: 3rem;
}
.fn {
  color: #fa9f1e;
}
.online {
  border: 0.0625rem solid #341d0c;
  border-radius: 1.25rem;
  padding: 0.625rem;
  color: white;
  text-align: center;
  background-color: #24160b;
  cursor: pointer;
}
.advice {
  color: #a1a193;
}
.learn_more {
  outline: none;
  border-radius: 1.25rem;
  border: 0.0625rem solid #2e2d2c;
  transition: 0.3s;
  color: white;
  background-color: transparent;
}
.learn_more:hover {
  background-color: #f64d00;
}
.address_icon {
  font-size: 1.875rem;
  color: #ff6900;
}
.inner_info {
  background-color: #141414;
  width: 9.375rem;
  border: 0.0625rem solid #262626;
}
.Selected_Articles {
  margin: auto;
  border-top: 1px solid gray;

  background: linear-gradient(to right, #0a0a0a 60%, #160e0a);
}
.Selected_Articles_inner {
  width: 80%;
}
.Show_all {
  outline: none;
  background-color: #fa9f1e;
  border-radius: 0.625rem;
  padding: 0.625rem;
  color: white;
  border: none;
}
.inner_card {
  border: 0.125rem solid #323232;
  height: 25rem;
  cursor: pointer;
}
.spechial {
  background: linear-gradient(to right, #ff7500 80%, #f3a800);
}
.read_only {
  background-color: #2e2d2c;
}
.footer_image {
  max-height: 3.125rem;
  border-radius: 50%;
}
.Category_section {
  border-top: 0.0625rem solid #323232;
  background-color: #140d0a;
}
.inner_box {
  background-color: #161616;
  border: 0.0625rem solid #262626;
  border-radius: 0.9375rem;
  transition: 0.3ms;
  cursor: pointer;
}
.icon {
  background-color: #2e1e14;
  color: #ff6901;
  font-size: 1.25rem;
}
.Category_section_content {
  width: 80%;
  margin: auto;
}
.inner_box:hover {
  background: linear-gradient(to right, #ff6900 70%, #fe6900);
}
.recent_Articles {
  background-color: #140d0a;
}
.recent_Articles_inner {
  width: 80%;
}
.recent_Articles_card_inner {
  border: 2px solid #262626;
}
.techniq {
  background-color: #0f0f0f;
  color: white;
}
.bottom_img_right {
  max-height: 3.125rem;
}
.arrow {
  background-color: #f64d00;
  color: white;
  border-radius: 1.25rem;
  font-size: 2.5rem;
  cursor: pointer;
}
.footer {
  background-color: #0a0a0a;
  border-top: 0.0625rem solid #262626;
}
.footer_inner {
  width: 80%;
  margin: auto;
}
.icon1 {
  background-color: #161616;
  border: 0.0625rem solid #737373;
  border-radius: 0.625rem;
  padding: 0.625rem;
  font-size: 1.25rem;
  cursor: pointer;
  transition: 0.3s;
}
.icon1:hover {
  background-color: #fe5e00;
  transform: scale(1.1);
}
.glass {
  background-color: #fe5e00;
  font-size: 1.25rem;
}

.bord {
  position: relative;
}
.bord::after {
  content: "";
  background-color: #fe5e00;
  width: 1.25rem;
  height: 0.0625rem;
  position: absolute;
  top: 50%;
  right: -3.75rem;
}
.link_router {
  transition: 0.3s;
}
.link_router:hover {
  color: #fe5e00;
  transform: translateX(-0.625rem);
}
.input_email {
  background-color: #161616;
  border: 0.0625rem solid #262626;
}
.input_email:focus {
  outline-color: #ee5f0f;
}
.subscribe_btn {
  background-color: #ee5f0f;
  outline: none;
  border: none;
}
.search_input {
  background-color: #161616;
  border: 0.0625rem solid #252525;
}
.category_btn {
  background-color: #161616;
  color: #9e9e9e !important;

  height: 2.8125rem;
  padding: 0.3125rem 0.3125rem;
  margin: auto;
  text-align: center;
}
.hero {
  width: 80%;
  /* background-color: #0a0a0a; */
}
.categoryBtn {
  background-color: transparent;
  outline: none;
  border: none;
}
.category_btn.active {
  color: white;
  background-color: #f64d00;
}
@media (max-width: 768px) {
  :root {
    font-size: 0.625rem;
  }
  .hero_section {
    width: 100%;
    margin: auto;
    padding: 1.25rem;
  }
  .hero {
    width: 100%;
  }
  .Selected_Articles_inner {
    width: 100%;
    margin: auto;
    padding: 1.25rem;
  }
  .select_category {
    width: 100%;
  }
  .search_input {
    width: 100%;
  }
  .main_contenet {
    width: 100%;
  }
}
